[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
appdirs = "*"
toml = "*"
python-dateutil = "*"
pyqt5 = "<5.15.2"
setuptools = "*"
pathvalidate = "*"
hypothesis = "*"
pydantic = "*"
pyqtwebengine = "*"
packaging = "*"
click = "*"
beautifulsoup4 = "*"

[dev-packages]
coverage = "*"
pyinstaller = "*"
pywin32-ctypes = "*"
sphinx = "*"
recommonmark = "*"
pytest = "*"
tox = "*"
twine = "*"
mypy = "*"
pytest-qt = "*"
python-lsp-server = {extras = ["all"], version = "*"}
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}
black = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
