[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
appdirs = "*"
python-dateutil = "*"
pyqt5 = "==5.15.9"
setuptools = "*"
pathvalidate = "*"
pydantic = "*"
pyqtwebengine = "*"
packaging = "*"
beautifulsoup4 = "*"

[dev-packages]
coverage = "*"
pyinstaller = "*"
pywin32-ctypes = "*"
sphinx = "*"
recommonmark = "*"
pytest = "*"
twine = "*"
mypy = "*"
pytest-qt = "*"
python-lsp-server = {extras = ["all"], version = "*"}
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}
black = "*"
pytest-mock = "*"
build = "*"
setuptools-scm = {version = ">=6.2", extras = ["toml"]}
pillow = "*"
hypothesis = "*"
pefile = "*"

[requires]
python_version = "3.10"
