name: Pytest

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      runs-on:
        required: true
        type: string

jobs:
  pyinstaller:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - uses: sanjacob/pipenv-requirements@v1
        with:
          from-pipfile: true
          dev: true

      - name: Run PyInstaller
        run: python packaging/pyinst.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ format('build-{0}', inputs.runs-on) }}
          path: |
            dist/BBSync/**
            dist/BBSync.app
